<app-base-layout>
  <div class="row">
    <div class="col-12">
      <div class="display-2 my-4">Syllabus Analysis Tool</div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label for="exampleTextarea"></label>
        <textarea
          class="form-control"
          id="exampleTextarea"
          rows="5"
          placeholder="Enter Syllabus Text"
        ></textarea>
      </div>
      <br />
      <button (click)="fetchData()" type="submit" class="btn btn-primary">
        Submit
      </button>
    </div>

    <div *ngIf="data">
      <div class="mb-5">
        <div class="lead my-5">
          The analysis of your syllabus found
          {{ data[0].NumberOfCompetencies }} competencies.
        </div>

        <div *ngFor="let item of data">
          <div class="fs-4 m-2">
            {{ item.CompetencyClass }}
          </div>

          <div *ngFor="let Competency of item.Competencies">
            <div class="fs-5 m-2">
              {{ Competency.Name }}
            </div>
            <div class="fs-5 m-2">
              {{ Competency.Explanation }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-base-layout>
